:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 3vh 2vw;
}

a {
  color: var(--pink);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input::placeholder {
  color: var(--subtext0);
  opacity: 100%;
}

button,
input:not([type="file"]),
input[type="file"]::file-selector-button {
  background-color: var(--crust);
  color: var(--text);
  border: 1px solid var(--surface0);
  outline: none;
  padding: 5px 9px;
  border-radius: 9px;
  transition: padding 0.25s, margin 0.25s;
}

button:hover,
input:not([type="file"]):hover,
input[type="file"]::file-selector-button:hover {
  background-color: var(--mantle);
}

button:focus,
input:not([type="file"]):focus,
input[type="file"]::file-selector-button:focus {
  border-color: var(--pink);
}

button:active,
input[type="file"]::file-selector-button:active {
  background-color: var(--base);
  scale: 95%;
}

small {
  font-size: .75em;
  color: var(--subtext0);
}

i {
  color: var(--subtext0);
}

.spacing {
  display: block;
  opacity: 0;
}

.spacing:not(:has(.small, .large)),
.spacing.small {
  height: 2em;
}

.spacing.medium {
  height: 4em;
}

.spacing.large {
  height: 8em;
}

.left {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

#search-after {
  border: 1px solid var(--pink);
  background-color: var(--mantle);
  border-radius: 4px;
  position: absolute;
  display: none;
  width: calc(12em - 2px);
  z-index: 20;
  translate: 0 3px;
}

#search:focus ~ #search-after:has(.search-suggestion),
#search-after:hover:has(.search-suggestion) {
  display: inline-block;
}

.search-suggestion {
  padding: 4px 6px;
  cursor: pointer;
}

.search-suggestion:hover {
  background-color: var(--base);
}

.search-suggestion ~ .search-suggestion {
  border-top: 1px solid var(--surface0);
}
