{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "/css/index.css" %}?v={{ VERSION }}">
{% endblock %}

{% block body %}
  <h1>{{ NAME }}</h1>
  <p>{{ DESCRIPTION }}</p>

  <div id="number">
    {% for number in TOTAL_POSTS %}
      <img src="{% static "/img/num/" %}{{ number }}.png?v={{ VERSION }}">
    {% endfor %}
  </div>

  <p>
    <form action="/search" class="left inline-block">
      <input id="search" name="q" placeholder="Search..." autocomplete="off"><br>
      <div id="search-after"></div>
    </form>
  </p>

  <a href="/tags/">All tags</a>

  <i class="spacing small"></i>
  <a href="/submit">Submit your own images</a>
{% endblock %}
